pandas==2.2.3
langchain==0.3.8
langchain-aws==0.2.7
langchain-community==0.3.8
langchain-core==0.3.21
langchain-openai==0.2.10
langchain-text-splitters==0.3.2
langcodes==3.5.0
sklearn-crfsuite==0.5.0
openpyxl==3.1.5
python-dotenv==1.0.1